---
import type { achievementSection } from "@/types/home-project";

interface Props {
    achievements: achievementSection;
}

const { achievements } = Astro.props;
---

<div
    class="w-full flex justify-center flex-col items-center bg-custom-blue h-[700px]"
>
    <div>
        <div class="text-center px-16 py-2">
            <h2 class="py-5 text-5xl font-bold text-white drop-shadow-lg">
                {achievements.title}
            </h2>
            <p class="text-justify text-white drop-shadow-lg">
                {achievements.text}
            </p>
        </div>
        <div class="w-full flex flex-wrap justify-center gap-8">
            {
                achievements.projectSection?.map((projects) => (
                    <div class="text-center my-4 max-w-sm">
                        <img src={projects.heroPreview.url} class="mt-4" />
                        <div class="bg-slate-50 bg-opacity-30 h-[150px] flex justify-center items-center">
                            <div class="text-center">
                                <h3 class="text-2xl font-bold">
                                    {projects.title}
                                </h3>
                                <p class="text-lg">{projects.intro}</p>
                            </div>
                        </div>
                    </div>
                ))
            }
        </div>
    </div>
</div>
